@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..600&display=swap");

main {
  position: relative;
  font-family: "Raleway", sans-serif;
  word-spacing: 0.1rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-auto-flow: column;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0 auto 0 0;
    width: 6rem;
    background-color: var(--bg-lite);
    z-index: -1;
  }

  --bg-lite: #f0f8ff;
  --bg: #d4e5f6;
  --emphasis: #0a497c;
  --page-margin: 2rem;
  --inner-margin: 1rem;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

a {
  cursor: pointer;
}

a:not(:hover) {
  text-decoration: none;
}

header {
  grid-column: 1 / span 2;
  background-color: var(--bg);
  padding: var(--page-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  width: 190px;

  & h1 {
    font-size: 2.75rem;
    white-space: nowrap;
    color: var(--emphasis);
    margin: 0;
  }

  & h3 {
    font-size: 1.5rem;
  }

  & em {
    white-space: nowrap;
  }
}

.contact {
  grid-column: 3 / span 6;
  font-size: 0.8rem;
  line-height: 1.8;
  text-align: right;

  & ul {
    list-style: none;
    margin: 0;
    padding-top: var(--page-margin);
    padding-right: var(--page-margin);
  }

  & strong {
    color: var(--emphasis);
  }
}

.about,
.education,
.skills,
.jobs {
  grid-column: 2 / span 7;

  & > * {
    padding-right: var(--page-margin);
  }

  & h2 {
    background-color: var(--bg);
    padding: 0.5rem 2.5rem;
    margin-left: -2.5rem;
  }

  & h3 {
    font-size: 1.3rem;
  }

  & h4 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 300;
    font-variant-numeric: lining-nums;
    background-color: var(--bg);
    padding: 0.25rem 1.5rem;
    margin-left: -1.5rem;
  }

  & ul {
    padding-left: 0;
    list-style-type: square;
  }

  & li {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.8;

    &::marker {
      color: var(--emphasis);
    }
  }
}

.skills {
  & ul {
    margin-bottom: 0;
  }

  & li strong {
    font-size: 1.1rem;
  }
}

.jobs,
.education {
  & li {
    font-style: italic;
  }
}

/* todo wrap in print meda query */
.jobs .page-break {
  height: 4rem;
}
.education .page-break {
  height: 10rem;
}
