@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..600&display=swap");

main {
  font-family: "Raleway", sans-serif;

  /* todo maybe have more control on the grid, and what is positioned where.
      make it smaller than content and shuffle things about? */
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  word-spacing: 0.1rem;

  --bg: #d4e5f6;
  --em: #0a497c;

  --page-margin: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 200;
}

/*p,h3,h4,h5,h6 {*/
/*  font-weight: 400;*/
/*}*/

ul {
  padding-left: 1rem;
  /* padding: 0; */
}

strong {
  color: var(--em);
}

a:not(:hover) {
  text-decoration: none;
}

header {
  grid-column: 1;
  background-color: var(--bg);
  padding-left: var(--page-margin);

  & h1 {
    margin-top: var(--page-margin);
    color: var(--em);
    padding-right: 0.5rem;
  }

  & h3 {
    font-size: 0.8rem;
  }

  & em {
    white-space: nowrap;
  }

  & ul {
    list-style: none;
    padding: 0.5rem 0;
    border: solid white;
    border-width: 0.25rem 0;
    line-height: 2;
  }
}

.about {
  padding-left: var(--page-margin);
  padding-right: 1rem;
  grid-column: 1;
  background-color: var(--bg);

  font-size: 0.8rem;
}

.about,
.skills,
.jobs {
  & h3 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}

.skills,
.jobs {
  grid-column: 2;
  margin-right: var(--page-margin);

  & h2 {
    color: var(--em);
    background-color: var(--bg);
    padding: 0.5rem;
    margin-top: 0;
  }

  & > em {
    text-align: center;
  }

  & p,
  ul {
    padding-right: 1rem;
  }
}

.skills {
  grid-row: 1;
  padding-top: 5rem;

  & h2 {
    margin-bottom: 1rem;
  }
}

.education {
  grid-column: 1;
  grid-row: 3;
}
