/* todo styles for print/not print */

@media screen {
  .page-break {
    display: none;
    visibility: hidden;
  }
}

@media print {
  .style-select {
    display: none;
    visibility: hidden;
  }

  body {
    margin: 0;
  }

  @page {
    margin: 0 !important;
  }
}

