@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..600&display=swap");

main {
  background-color: white;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-auto-flow: column;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 59cm;
    width: 4.75rem;
    background-color: var(--bg-lite);
    z-index: -1;
  }

  --bg-lite: #f0f8ff;
  --bg: #d4e5f6;
  --emphasis: #06599e;
  --page-margin: 1cm;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
  color: var(--emphasis);
  line-height: 1;
}

a {
  cursor: pointer;
}

a:not(:hover) {
  text-decoration: none;
}

header {
  grid-column: 1;
  background-color: var(--bg);
  padding: var(--page-margin);
  height: 10rem;
  width: 10rem;

  & h1 {
    font-size: 2.5rem;
    white-space: nowrap;
    margin: 0;
  }

  & h3 {
    margin-top: 0;
    font-size: 1.25rem;
  }

  & em {
    white-space: nowrap;
  }
}

.contact {
  grid-column: 2;
  font-size: 0.8rem;
  text-align: right;

  & ul {
    list-style: none;
    margin: 0;
    padding-top: var(--page-margin);
    padding-right: var(--page-margin);
  }

  & strong {
    color: var(--emphasis);
  }
}

.about,
.education,
.skills,
.jobs {
  grid-column: 2;

  & > * {
    padding-right: var(--page-margin);
  }

  & h2 {
    background-color: var(--bg);
    padding: 0.5rem 2.5rem;
    margin-left: -2.5rem;
  }

  & h3 {
    font-size: 1.3rem;
  }

  & h4 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 300;
    font-variant-numeric: lining-nums;
    background-color: var(--bg);
    padding: 0.125rem 1.5rem;
    margin-left: -1.5rem;
  }

  & ul {
    list-style-type: square;
    margin-bottom: 0;
    padding-left: 1rem;

    p + & {
      margin-top: 0.25rem;
    }
  }

  & li {
    font-weight: 300;
    font-size: 0.8rem;

    & strong {
      font-weight: 600;
      font-size: 1.1rem;
    }

    &::marker {
      color: var(--emphasis);
    }
  }
}

@media print {
  .jobs .page-break {
    height: 5rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 0.5rem 1fr;

    &::after {
      display: none;
    }

    & h1 {
      font-size: 2rem;
    }

    --page-margin: 0.5rem;
  }

  .contact {
    align-self: end;
    line-height: 1.1;
  }
}
